.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0f172a;
}

.login-box {
  background-color: #111827;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 0 20px #00ff88;
  text-align: center;
  width: 320px;
}

.neon-text {
  color: #00ff88;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0 0 5px #00ff88, 0 0 10px #00ff88;
  margin-bottom: 20px;
}

input {
  display: block;
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  border: none;
  border-radius: 5px;
  background-color: #1f2937;
  color: #fff;
  font-size: 16px;
}

button {
  background-color: #00ff88;
  color: #000;
  padding: 12px;
  width: 100%;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;
}

button:hover {
  background-color: #00ffaa;
}

.error {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

.show-password {
  color: #ccc;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: -8px;
}
